###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/

# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta


db.lock
storage.ide
storage.ide-shm
storage.ide-wal
manifest.json

.collabignore

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.vscode/
.vs/

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
